// Button
.btn {
  display: inline-block;
  font-weight: 400;
  color: var(--text-secondary);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: var(--text-secondary);
  text-decoration: none;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: var(--shadow-primary);
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: var(--text-primary);
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  color: var(--text-primary);
  background-color: var(--hover-primary);
  border-color: var(--hover-primary);
}

.btn-primary:focus,
.btn-primary.focus {
  color: var(--text-primary);
  background-color: var(--hover-primary);
  border-color: var(--hover-primary);
  box-shadow: var(--shadow-primary);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: var(--text-primary);
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: var(--text-primary);
  background-color: var(--hover-primary);
  border-color: var(--hover-primary);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: var(--shadow-primary);
}

.btn-secondary {
  color: var(--text-primary);
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn-secondary:hover {
  color: var(--text-primary);
  background-color: var(--hover-secondary);
  border-color: var(--hover-secondary);
}

.btn-secondary:focus,
.btn-secondary.focus {
  color: var(--text-primary);
  background-color: var(--hover-secondary);
  border-color: var(--hover-secondary);
  box-shadow: var(--shadow-secondary);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  color: var(--text-primary);
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: var(--text-primary);
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: var(--shadow-secondary);
}

.btn-success {
  color: var(--text-primary);
  background-color: var(--success);
  border-color: var(--success);
}

.btn-success:hover {
  color: var(--text-primary);
  background-color: var(--hover-success);
  border-color: var(--hover-success);
}

.btn-success:focus,
.btn-success.focus {
  color: var(--text-primary);
  background-color: var(--hover-success);
  border-color: var(--hover-success);
  box-shadow: var(--shadow-success);
}

.btn-success.disabled,
.btn-success:disabled {
  color: var(--text-primary);
  background-color: var(--success);
  border-color: var(--success);
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: var(--text-primary);
  background-color: var(--hover-success);
  border-color: var(--hover-success);
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: var(--shadow-success);
}

.btn-info {
  color: var(--text-primary);
  background-color: var(--info);
  border-color: var(--info);
}

.btn-info:hover {
  color: var(--text-primary);
  background-color: var(--hover-info);
  border-color: var(--hover-info);
}

.btn-info:focus,
.btn-info.focus {
  color: var(--text-primary);
  background-color: var(--hover-info);
  border-color: var(--hover-info);
  box-shadow: var(--shadow-info);
}

.btn-info.disabled,
.btn-info:disabled {
  color: var(--text-primary);
  background-color: var(--info);
  border-color: var(--info);
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: var(--text-primary);
  background-color: var(--info);
  border-color: var(--info);
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: var(--shadow-info);
}

.btn-warning {
  color: var(--text-primary);
  background-color: var(--warning);
  border-color: var(--warning);
}

.btn-warning:hover {
  color: var(--text-primary);
  background-color: var(--hover-warning);
  border-color: var(--hover-warning);
}

.btn-warning:focus,
.btn-warning.focus {
  color: var(--text-secondary);
  background-color: var(--hover-warning);
  border-color: var(--hover-warning);
  box-shadow: var(--shadow-warning);
}

.btn-warning.disabled,
.btn-warning:disabled {
  color: var(--text-secondary);
  background-color: var(--warning);
  border-color: var(--warning);
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: var(--text-secondary);
  background-color: var(--hover-warning);
  border-color: var(--hover-warning);
}

.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: var(--shadow-warning);
}

.btn-danger {
  color: var(--text-primary);
  background-color: var(--danger);
  border-color: var(--danger);
}

.btn-danger:hover {
  color: var(--text-primary);
  background-color: var(--hover-danger);
  border-color: var(--hover-danger);
}

.btn-danger:focus,
.btn-danger.focus {
  color: var(--text-primary);
  background-color: var(--hover-danger);
  border-color: var(--hover-danger);
  box-shadow: var(--shadow-danger);
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: var(--text-primary);
  background-color: var(--danger);
  border-color: var(--danger);
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: var(--text-primary);
  background-color: var(--hover-danger);
  border-color: var(--hover-danger);
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: var(--shadow-danger);
}

.btn-light {
  color: var(--text-secondary);
  background-color: var(--light);
  border-color: var(--light);
}

.btn-light:hover {
  color: var(--text-secondary);
  background-color: var(--hover-light);
  border-color: var(--hover-light);
}

.btn-light:focus,
.btn-light.focus {
  color: var(--text-secondary);
  background-color: var(--hover-light);
  border-color: var(--hover-light);
  box-shadow: var(--shadow-light);
}

.btn-light.disabled,
.btn-light:disabled {
  color: var(--text-secondary);
  background-color: var(--light);
  border-color: var(--light);
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: var(--text-secondary);
  background-color: var(--hover-light);
  border-color: var(--hover-light);
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: var(--shadow-light);
}

.btn-dark {
  color: var(--text-primary);
  background-color: var(--dark);
  border-color: var(--dark);
}

.btn-dark:hover {
  color: var(--text-primary);
  background-color: var(--hover-dark);
  border-color: var(--hover-dark);
}

.btn-dark:focus,
.btn-dark.focus {
  color: var(--text-primary);
  background-color: var(--hover-dark);
  border-color: var(--hover-dark);
  box-shadow: var(--shadow-dark);
}

.btn-dark.disabled,
.btn-dark:disabled {
  color: var(--text-primary);
  background-color: var(--dark);
  border-color: var(--dark);
}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: var(--text-primary);
  background-color: var(--hover-dark);
  border-color: var(--hover-dark);
}

.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: var(--shadow-dark);
}

.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);
}

.btn-outline-primary:hover {
  color: var(--text-primary);
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: var(--shadow-primary);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: var(--primary);
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: var(--text-primary);
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: var(--shadow-primary);
}

.btn-outline-secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.btn-outline-secondary:hover {
  color: var(--text-primary);
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
  box-shadow: var(--shadow-secondary);
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
  color: var(--secondary);
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: var(--text-primary);
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: var(--shadow-secondary);
}

.btn-outline-success {
  color: var(--success);
  border-color: var(--success);
}

.btn-outline-success:hover {
  color: var(--text-primary);
  background-color: var(--success);
  border-color: var(--success);
}

.btn-outline-success:focus,
.btn-outline-success.focus {
  box-shadow: var(--shadow-success);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
  color: var(--success);
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: var(--text-primary);
  background-color: var(--success);
  border-color: var(--success);
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: var(--shadow-success);
}

.btn-outline-info {
  color: var(--info);
  border-color: var(--info);
}

.btn-outline-info:hover {
  color: var(--text-primary);
  background-color: var(--info);
  border-color: var(--info);
}

.btn-outline-info:focus,
.btn-outline-info.focus {
  box-shadow: var(--shadow-info);
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
  color: var(--info);
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: var(--text-primary);
  background-color: var(--info);
  border-color: var(--info);
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: var(--shadow-info);
}

.btn-outline-warning {
  color: var(--warning);
  border-color: var(--warning);
}

.btn-outline-warning:hover {
  color: var(--text-secondary);
  background-color: var(--warning);
  border-color: var(--warning);
}

.btn-outline-warning:focus,
.btn-outline-warning.focus {
  box-shadow: var(--shadow-warning);
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
  color: var(--warning);
  background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
  color: var(--text-secondary);
  background-color: var(--warning);
  border-color: var(--warning);
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
  box-shadow: var(--shadow-warning);
}

.btn-outline-danger {
  color: var(--danger);
  border-color: var(--danger);
}

.btn-outline-danger:hover {
  color: var(--text-primary);
  background-color: var(--danger);
  border-color: var(--danger);
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
  box-shadow: var(--shadow-danger);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
  color: var(--danger);
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: var(--text-primary);
  background-color: var(--danger);
  border-color: var(--danger);
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: var(--shadow-danger);
}

.btn-outline-light {
  color: var(--light);
  border-color: var(--light);
}

.btn-outline-light:hover {
  color: var(--text-secondary);
  background-color: var(--light);
  border-color: var(--light);
}

.btn-outline-light:focus,
.btn-outline-light.focus {
  box-shadow: var(--shadow-light);
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
  color: var(--light);
  background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  color: var(--text-secondary);
  background-color: var(--light);
  border-color: var(--light);
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: var(--shadow-light);
}

.btn-outline-dark {
  color: var(--dark);
  border-color: var(--dark);
}

.btn-outline-dark:hover {
  color: var(--text-primary);
  background-color: var(--dark);
  border-color: var(--dark);
}

.btn-outline-dark:focus,
.btn-outline-dark.focus {
  box-shadow: var(--shadow-dark);
}

.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
  color: var(--dark);
  background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: var(--text-primary);
  background-color: var(--dark);
  border-color: var(--dark);
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: var(--shadow-dark);
}

.btn-link {
  font-weight: 400;
  color: var(--primary);
  text-decoration: none;
}

.btn-link:hover {
  color: var(--hover-primary);
  text-decoration: underline;
}

.btn-link:focus,
.btn-link.focus {
  text-decoration: underline;
  box-shadow: none;
}

.btn-link:disabled,
.btn-link.disabled {
  color: var(--secondary);
  pointer-events: none;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

// Input
.input {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="datetime"],
input[type="month"],
input[type="week"],
input[type="file"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="color"] {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  color: var(--input-text);
  background-color: var(--input-bg);
  background-clip: padding-box;
  border: 1px solid var(--input-border);
  border-radius: 0.25rem;
}
input[type="image"] {
  padding: 0;
  width: 100%;
  height: auto;
}
input[type="color"]:focus {
  outline: 0;
  box-shadow: none;
}
.input-range {
  width: 100%;
}
.input-range:focus::-webkit-slider-thumb {
  box-shadow: none;
}
.input-range:focus::-moz-range-thumb {
  box-shadow: none;
}
.input-range::-moz-focus-outer {
  border: 0;
}
.input-range::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  background-color: var(--input-primary);
  border: 0;
  border-radius: 1rem;
  -webkit-transition: background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  appearance: none;
}
.input-range::-webkit-slider-thumb:active {
  background-color: var(--input-hover-primary);
}
.input-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: var(--input-border);
  border-color: transparent;
  border-radius: 1rem;
}
.input-range::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background-color: var(--input-primary);
  border: 0;
  border-radius: 1rem;
  -moz-transition: background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  appearance: none;
}
.input-range::-moz-range-thumb:active {
  background-color: var(--input-hover-primary);
}
.input-range::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: var(--input-border);
  border-color: transparent;
  border-radius: 1rem;
}
.input-range:disabled {
  pointer-events: none;
}
.input-range:disabled::-webkit-slider-thumb {
  background-color: #adb5bd;
}
.input-range:disabled::-moz-range-thumb {
  background-color: #adb5bd;
}
.input-checkbox,
.input-radio {
  width: 1rem;
  height: 1rem;
  appearance: none;
  cursor: pointer;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid var(--input-border);
  vertical-align: top;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox {
  border-radius: 3px;
}
.input-checkbox:checked {
  background-color: var(--input-primary);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.input-radio {
  border-radius: 25px;
}

.input-radio:checked {
  border-radius: 25px;
  background-color: var(--input-primary);
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%222%22 fill=%22%23fff%22/%3E%3C/svg%3E");
}

input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="range"]:focus {
  box-shadow: none;
}
@media (prefers-reduced-motion: reduce) {
  .input {
    transition: none;
  }
}

.input::-ms-expand {
  background-color: transparent;
  border: 0;
}

.input:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--input-text);
}

.input:focus {
  color: var(--input-text);
  background-color: var(--input-bg);
  border-color: var(--input-focus);
  outline: 0;
  box-shadow: var(--shadow-primary);
}

.input::-webkit-input-placeholder {
  color: var(--input-placeholder);
  opacity: 1;
}

.input::-moz-placeholder {
  color: var(--input-placeholder);
  opacity: 1;
}

.input:-ms-input-placeholder {
  color: var(--input-placeholder);
  opacity: 1;
}

.input::-ms-input-placeholder {
  color: var(--input-placeholder);
  opacity: 1;
}

.input::placeholder {
  color: var(--input-placeholder);
  opacity: 1;
}

.input:disabled,
.input[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

// Alert
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 4rem;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-primary {
  color: var(--blue-700);
  background-color: var(--blue-100);
  border-color: var(--blue-300);
}

.alert-primary hr {
  border-top-color: var(--blue-400);
}

.alert-primary .alert-link {
  color: var(--blue-900);
}

.alert-secondary {
  color: var(--gray-700);
  background-color: var(--gray-100);
  border-color: var(--gray-300);
}

.alert-secondary hr {
  border-top-color: var(--gray-400);
}

.alert-secondary .alert-link {
  color: var(--gray-900);
}

.alert-success {
  color: var(--green-700);
  background-color: var(--green-100);
  border-color: var(--green-300);
}

.alert-success hr {
  border-top-color: var(--green-400);
}

.alert-success .alert-link {
  color: var(--green-900);
}

.alert-info {
  color: var(--indigo-700);
  background-color: var(--indigo-100);
  border-color: var(--indigo-300);
}

.alert-info hr {
  border-top-color: var(--indigo-400);
}

.alert-info .alert-link {
  color: var(--indigo-900);
}

.alert-warning {
  color: var(--orange-700);
  background-color: var(--orange-100);
  border-color: var(--orange-300);
}

.alert-warning hr {
  border-top-color: var(--orange-400);
}

.alert-warning .alert-link {
  color: var(--orange-900);
}

.alert-danger {
  color: var(--red-700);
  background-color: var(--red-100);
  border-color: var(--red-300);
}

.alert-danger hr {
  border-top-color: var(--red-400);
}

.alert-danger .alert-link {
  color: var(--red-900);
}

.alert-light {
  color: var(--slate-900);
  background-color: var(--slate-100);
  border-color: var(--slate-300);
}

.alert-light hr {
  border-top-color: var(--slate-400);
}

.alert-light .alert-link {
  color: var(--slate-900);
}

.alert-dark {
  color: var(--gray-700);
  background-color: var(--gray-400);
  border-color: var(--gray-500);
}

.alert-dark hr {
  border-top-color: var(--gray-500);
}

.alert-dark .alert-link {
  color: var(--gray-900);
}

// Table
table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: var(--gray-700);
  color: var(--primary);
  th,
  td {
    padding: 8px 20px;
    border: 1px solid #fafafa;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
  th:hover {
    background-color: #d4d4d4;
  }
  td:hover {
    background-color: #ececec;
  }
  th {
    background-color: #dedede;
  }
  td {
    background-color: #f5f5f5;
  }
}

.table-primary {
  color: var(--text-primary);
  border: var(--blue-900);
  th,
  td {
    border: 1px solid var(--blue-300);
  }
  th:hover {
    background-color: var(--blue-800);
  }
  td:hover {
    background-color: var(--blue-500);
  }

  th {
    background-color: var(--blue-700);
  }
  td {
    background-color: var(--blue-400);
  }
}


.table-secondary {
  color: var(--text-primary);
  border-color: var(--gray-900);
  th,
  td {
    padding: 8px 20px;
    border: 1px solid var(--gray-200);
  }
  th:hover {
    background-color: var(--gray-700);
  }
  td:hover {
    background-color: var(--gray-500);
  }
  th {
    background-color: var(--gray-600);
  }
  td {
    background-color: var(--gray-400);
  }
}


.table-warning {
  color: var(--text-primary);
  border-color: var(--yellow-900);
  th,
  td {
    padding: 8px 20px;
    border: 1px solid var(--yellow-200);
  }
  th:hover {
    background-color: var(--yellow-600);
  }
  td:hover {
    background-color: var(--yellow-400);
  }
  th {
    background-color: var(--yellow-500);
  }
  td {
    background-color: var(--yellow-300);
  }
}

.table-success {
  color: var(--text-primary);
  border-color: var(--green-900);
  th,
  td {
    padding: 8px 20px;
    border: 1px solid var(--green-200);
  }
  th:hover {
    background-color: var(--green-600);
  }
  td:hover {
    background-color: var(--green-400);
  }
  th {
    background-color: var(--green-500);
  }
  td {
    background-color: var(--green-300);
  }
}

.table-info {
  color: var(--text-primary);
  border-color: var(--cyan-900);
  th,
  td {
    padding: 8px 20px;
    border: 1px solid var(--cyan-200);
  }
  th:hover {
    background-color: var(--cyan-600);
  }
  td:hover {
    background-color: var(--cyan-400);
  }
  th {
    background-color: var(--cyan-500);
  }
  td {
    background-color: var(--cyan-300);
  }
}

.table-danger {
  color: var(--text-primary);
  border-color: var(--red-900);
  th,
  td {
    padding: 8px 20px;
    border: 1px solid var(--red-200);
  }
  th:hover {
    background-color: var(--red-700);
  }
  td:hover {
    background-color: var(--red-500);
  }
  th {
    background-color: var(--red-600);
  }
  td {
    background-color: var(--red-400);
  }
}

.table-dark {
  color: var(--text-primary);
  border-color: var(--gray-900);
  th,
  td {
    padding: 8px 20px;
    border: 1px solid var(--gray-200);
  }
  th:hover {
    background-color: var(--gray-900);
  }
  td:hover {
    background-color: var(--gray-800);
  }
  th {
    background-color: var(--gray-800);
  }
  td {
    background-color: var(--gray-700);
  }
}

.thead-bg-primary, .thead-bg-primary th{
  color: var(--text-primary) !important;
  border: 1px solid var(--blue-300) !important;
  background-color: var(--blue-700) !important;
}
.thead-bg-primary:hover, .thead-bg-primary th:hover{
  background-color: var(--blue-800) !important;
}
.tbody-bg-primary,.tbody-bg-primary td{
  color: var(--text-primary) !important;
  border: 1px solid var(--blue-300) !important;
  background-color: var(--blue-400) !important;
}
.tbody-bg-primary:hover, .tbody-bg-primary td:hover{
  background-color: var(--blue-500) !important;
}

.thead-bg-secondary, .thead-bg-secondary th{
  color: var(--text-primary) !important;
  border: 1px solid var(--gray-200) !important;
  background-color: var(--gray-600) !important;
}
.thead-bg-secondary:hover, .thead-bg-secondary th:hover{
  background-color: var(--gray-700) !important;
}
.tbody-bg-secondary, .tbody-bg-secondary td{
  color: var(--text-primary) !important;
  border: 1px solid var(--gray-200) !important;
  background-color: var(--gray-400) !important;
}
.tbody-bg-secondary:hover, .tbody-bg-secondary td:hover{
  background-color: var(--gray-500) !important;
}
.thead-bg-warning, .thead-bg-warning th{
  color: var(--text-primary) !important;
  border: 1px solid var(--yellow-200) !important;
  background-color: var(--yellow-500) !important;
}
.thead-bg-warning:hover, .thead-bg-warning th:hover{
  background-color: var(--yellow-600) !important;
}
.tbody-bg-warning, .tbody-bg-warning td{
  color: var(--text-primary) !important;
  border: 1px solid var(--yellow-200) !important;
  background-color: var(--yellow-300) !important;
}
.tbody-bg-warning:hover, .tbody-bg-warning td:hover{
  background-color: var(--yellow-400) !important;
}
.thead-bg-success, .thead-bg-success th{
  color: var(--text-primary) !important;
  border: 1px solid var(--green-200) !important;
  background-color: var(--green-300) !important;
}
.thead-bg-success:hover, .thead-bg-success th:hover{
  background-color: var(--green-600) !important;
}
.tbody-bg-success, .tbody-bg-success td{
  color: var(--text-primary) !important;
  border: 1px solid var(--green-200) !important;
  background-color: var(--green-300) !important;
}
.tbody-bg-success:hover, .tbody-bg-success td:hover{
  background-color: var(--green-400) !important;
}
.thead-bg-info, .thead-bg-info th{
  color: var(--text-primary) !important;
  border: 1px solid var(--cyan-200) !important;
  background-color: var(--cyan-300) !important;
}
.thead-bg-info:hover, .thead-bg-info th:hover{
  background-color: var(--cyan-600) !important;
}
.tbody-bg-info, .tbody-bg-info td{
  color: var(--text-primary) !important;
  border: 1px solid var(--cyan-200) !important;
  background-color: var(--cyan-300) !important;
}
.tbody-bg-info:hover, .tbody-bg-info td:hover{
  background-color: var(--cyan-400) !important;
}
.thead-bg-danger, .thead-bg-danger th{
  color: var(--text-primary) !important;
  border: 1px solid var(--red-200) !important;
  background-color: var(--red-600) !important;
}
.thead-bg-danger:hover, .thead-bg-danger th:hover{
  background-color: var(--red-700) !important;
}
.tbody-bg-danger, .tbody-bg-danger td{
  color: var(--text-primary) !important;
  border: 1px solid var(--red-200) !important;
  background-color: var(--red-400) !important;
}
.tbody-bg-danger:hover, .tbody-bg-danger td:hover{
  background-color: var(--red-500) !important;
}
.thead-bg-dark, .thead-bg-dark th{
  color: var(--text-primary) !important;
  border: 1px solid var(--gray-200) !important;
  background-color: var(--gray-800) !important;
}
.thead-bg-dark:hover, .thead-bg-dark th:hover{
  background-color: var(--gray-900) !important;
}
.tbody-bg-dark, .tbody-bg-dark td{
  color: var(--text-primary) !important;
  border: 1px solid var(--gray-200) !important;
  background-color: var(--gray-700) !important;
}
.tbody-bg-dark:hover, .tbody-bg-dark td:hover{
  background-color: var(--gray-800) !important;
}